body { color:#000; font: 14px/1.5 palatino, "times new roman"; margin:2em 1.5em;}
.container {width: 600px; margin:0 auto;}

h1 {font-family: 'EB Garamond', serif; color: #333; text-align: center; font-size: 3.5em; margin-bottom: 0.5em;}
h2 {font-family: 'EB Garamond', serif; color: #333; font-size: 2em; text-align: center; margin-bottom: 0.5em;}
h3 {margin: 0.5em 0;}


ul {list-style: disc; margin-bottom: 1.5em;}
ul li {margin-left: 15px;}
ul li small {font-style: italic;}
ol {list-style: decimal; margin-bottom: 1.5em;}
ol li {border-bottom: 1px solid #eee; padding-bottom: 0.5em; margin-bottom: 0.5em;}
ol li:last-child {border-bottom: 0; padding-bottom: 0; margin-bottom: 0;}

ul.posts {list-style: none;}
ul.posts li {margin-left: 0;}

a {color: #0A81A5; text-decoration: none;}

sup {font-size:0.7em; vertical-align:top}
.amp {font-family: 'Goudy Bookletter 1911', serif; font-size: 0.9em;}
.divide {font-family: 'Goudy Bookletter 1911', serif; font-size: 4em; padding: 0.5em; color: #ccc; text-align: center;}

p { margin:0 0 20px 0; }
.quiet {font-size: 0.8em; color: #aaa;}
.quiet a {color: #aaa;}
p img {margin-top: 0;}
p.meta {font-family: 'EB Garamond', serif; font-style: italic; color: #aaa; text-align: left;}
p.big {font-size: 2.5em; font-family: 'EB Garamond', serif;}
p.contact {text-align: center;}
p.last {margin-bottom: 0; padding-bottom: 0;}

pre { line-height:1.5; border:1px solid #ddd;
  padding: 20px; margin: 0 0 20px 0;
  font-family: menlo, monaco, courier, monospace;
  box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  -webkit-box-shadow: 0 0 10px #ddd;
  overflow:auto;
}

code {
  font-size: 0.8em;
  font-family: menlo, monaco, courier, monospace;
  border: 1px solid #ddd;
  padding: 1px;
  background-color: #F7F7F7;
}

pre code {border: 0; padding: 0; background-color: transparent;}

blockquote {
  line-height: 1.5; border: 1px solid #ddd; background-color: #fafafa;
  padding: 20px; margin: 0 0 20px 0;
  box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  -webkit-box-shadow: 0 0 10px #ddd;
}
blockquote p:last-child {margin-bottom: 0; padding-bottom: 0;}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.highlight pre::-webkit-scrollbar {height: 8px; width:8px;}
.highlight pre::-webkit-scrollbar-track-piece {margin-bottom: 10px; background-color: #e5e5e5; border-radius: 4px 4px;}
.highlight pre::-webkit-scrollbar-thumb:vertical   {height: 25px; background-color: #ccc; -webkit-border-radius: 4px; -webkit-box-shadow: 0 1px 1px rgba(255,255,255,1);}
.highlight pre::-webkit-scrollbar-thumb:horizontal {width:  25px; background-color: #ccc; -webkit-border-radius: 4px;}

