body { color:#000; font: 14px/1.5 constantia, palatino, "times new roman"; margin:2em 1.5em;}
.container {width: 550px; margin:0 auto;}

h1 {color: #308000; margin-bottom: 1.5em;}
h2 {color: #308000; margin: 1em 0; font-weight: bold;}
h3 {margin: 0.5em 0;}

h1 a {color: #fff; padding: 10px; background-color: #308000; font-weight: normal; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px;}

ul {list-style: disc; margin-bottom: 1.5em;}
ol {list-style: decimal; margin-bottom: 1.5em;}
ol li {border-bottom: 1px solid #eee; padding-bottom: 0.5em; margin-bottom: 0.5em;}
ol li:last-child {border-bottom: 0; padding-bottom: 0; margin-bottom: 0;}
a {color: #308000; text-decoration: none;}

sup {font-size:0.7em; vertical-align:top}

p { margin:0 0 20px 0; }
.quiet {font-size: 0.8em; color: #aaa;}
.quiet a {color: #aaa;}
p img {margin-top: 0;}

pre { line-height:1.5; border:1px solid #ddd;
  padding: 20px; margin: 0 0 20px 0;
  font-family: menlo, monaco, courier, monospace;
  box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  -webkit-box-shadow: 0 0 10px #ddd; 
  overflow:auto;
}

code {
  font-size: 0.8em;
	font-family: menlo, monaco, courier, monospace;
	border: 1px solid #ddd;
	padding: 1px;
}

pre code {border: 0; padding: 0;}
