body {
  background-color: #fff;
  color: #333;
  font: 100%/1.5 'Source Sans Pro', sans-serif;
}

header {
  background-color: #fff;
  padding-top: 1em;
  margin-left: 0;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

h1,h2,h3,h4,h5,h6 { font-family: 'Open Sans Condensed', sans-serif; }

h1 {
  margin: 0;
  font-size: 2.5em;
  text-align: left;
  color: #000;
  font-weight: 300;
}
header h1 {
    text-align: center;
}

@media (min-width: 600px) {
    header h1 {
        float: left;
        text-align: left;
    }
}

h2 {
  font-size: 2em;
  font-weight: 700;
  color: #000;
  margin-bottom: 0.5em;
}
h3 {
    font-family: 'Source Sans Pro';
    font-size: 1em;
    margin: 0;
 }
h1 a {
  display: block;
  margin: 0;
  padding: 0.2em 0;
  color: #000;
  font-weight: 300;
}

.wrapper {
  position: relative;
  max-width: 900px;
}

.me {
  font-size: 1.2em;
  margin-bottom: 1em;
  font-weight: 300;
  margin-top: 1em;
  padding: 30px;
  background-color: #333;
  color: #FFF;
  font-weight: 300;
}

a {
  color: #FD5158;
  text-decoration: none;
  font-weight: normal;

  -webkit-transition: all .2s ease-out;
     -moz-transition: all .2s ease-out;
      -ms-transition: all .2s ease-out;
       -o-transition: all .2s ease-out;
          transition: all .2s ease-out;
}
li a { color: #000; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.posts a,
.code a,
.presentations a {
  padding: 0.2em 0;
  display: inline-block;

  -webkit-transition-duration: .5s;
     -moz-transition-duration: .5s;
      -ms-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s;
}

.presentations {
    margin-bottom: 1em;
}

.presentations .tag {
    background-color: #333;
    color: #fff;
    padding: 2px 5px;
    font-size: 0.8em;
    border-radius: 4px;
    display: inline-block;
}

a .description:before {
  content: "— "
}
a .description {
  color: #999;
}

.content {
    margin-left: 2em;
}

.external {
    text-align: center;
}
.external li {
    font-size: 2.5em;
    display: inline-block;
}
.external a {
    padding-right: 15px;
}
.external a:hover {
    color: #FD5158;
    display: block;
}

@media (min-width: 600px) {
    .external {
        float: left;
        text-align: left;
        margin-left: 30px;
        margin-top: 10px;
    }
    header {
        margin-left: 2em;
    }
}
