<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Kim Joar Bekkelund</title>
  <link href="http://feeds.feedburner.com/kimjoar" rel="alternate" title="Kim Joar Bekkelund" type="application/atom+xml" />
  <link href='http://fonts.googleapis.com/css?family=Nobile' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen, projection">
</head>
<body>

<div class="container">
  <div id="header" class="clearfix">
    <h1><a href="http://kimjoar.net">Kim Joar Bekkelund</a></h1>
    <ul>
      <li><a href="http://www.linkedin.com/in/kimjoarr">LinkedIn ›</a></li>
      <li><a href="http://www.facebook.com/kimjoar">Facebook ›</a></li>
      <li><a href="http://github.com/kjbekkelund">GitHub ›</a></li>
      <li><a href="http://www.flickr.com/photos/kimjoarr">Flickr ›</a></li>
      <li><a href="http://twitter.com/kimjoar">Twitter ›</a></li>
      <li><a href="http://kimjoar.tumblr.com/">Tumblr ›</a></li>
    </ul>
  </div>
  {{ content }}
</div>

<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  var pageTracker = _gat._getTracker("UA-2402967-1");
  pageTracker._initData();
  pageTracker._trackPageview();
</script>
</body>
</html>
