<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Kim Joar Bekkelund</title>
  <link href="http://feeds.feedburner.com/kimjoar" rel="alternate" title="Kim Joar Bekkelund" type="application/atom+xml" />
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/reset.css?=20120527" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/style.css?=20120527" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/syntax.css?=20120527" type="text/css" media="screen, projection">
</head>
<body>

  <div id="header">
    <div class="content">
      <h1>Hi, I'm <a href="http://kimjoar.net">Kim Joar Bekkelund</a></h1>
    </div>
  </div>
  {{ content }}

<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  var pageTracker = _gat._getTracker("UA-2402967-1");
  pageTracker._initData();
  pageTracker._trackPageview();
</script>
</body>
</html>
